/*Main properties*/
* {
  /*box-sizing: border-box;*/
}
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
}
.tMain {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/aDark2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.4);
}
.tMain .signInUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: #ffffff;
  opacity: 85%;
  height: 50%;
  width: 60%;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.4);
}
/*Nav Properties*/
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 150px;
  align-content: center;
  /*background-color: lighten(lightgray,15%);*/
  /*position: fixed;*/
  opacity: 0.85;
  /*top: 0;*/
  /*left: 50%;*/
  /*transform: translate(-50%,0);*/
  width: 100%;
  padding: 0px 15px 0px 15px;
}
nav .linksSec {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
nav a.navLinks {
  font-size: 25px;
  padding: 0 15px;
  text-decoration: none;
  color: #FFFDF9;
  margin: auto;
  align-content: center;
  font-family: 'Open Sans Condensed';
  letter-spacing: 5px;
  font-weight: 800;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media (max-width:500px) {
  nav a.navLinks {
    font-size: 15px;
  }
}
nav a.navLinks:hover {
  color: #8ac6d1;
  font-weight: 800;
}
/*Header Section*/
header {
  height: 400px;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*align-content: center;*/
}
header section#slogan {
  width: 50%;
  height: 100%;
}
header h1.title {
  width: 100%;
  font-size: 90px;
  height: 90px;
  text-align: left;
  padding: 0;
  color: #8ac6d1;
  font-family: 'Raleway';
  letter-spacing: 9px;
  margin: 0;
}
header h4.underTitle {
  width: 75%;
  font-size: 25px;
  height: 35px;
  text-align: left;
  /*padding-left: 15px;*/
  color: #ffe3ed;
  font-family: 'Open Sans Condensed';
  letter-spacing: 12px;
  margin: 0;
  color: #FFFDF9;
}
header #signup {
  background-color: #8ac6d1;
  color: #ffe3ed;
  width: 190px;
  height: 30px;
  border-radius: 15px;
  margin: 10px auto auto 0;
  line-height: 30px;
  text-align: center;
  font-family: 'Open Sans Condensed';
  letter-spacing: 6px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header #signup:hover {
  background-color: #ffe3ed;
  color: #8ac6d1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
/*Trending Subjects*/
section#trSubject {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: #fffdf9;
}
section#trSubject h3.trSubjectTitle {
  width: 85%;
  font-size: 40px;
  height: 40px;
  text-align: center;
  font-family: 'Open Sans Condensed';
  letter-spacing: 8px;
  color: #555555;
  margin: 35px auto 0 auto;
}
section#trSubject section.trSubjectCards {
  width: 90%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
section#trSubject section.trSubjectCards div.trCard {
  display: flex;
  width: 275px;
  height: 300px;
  background-color: #FFFDF9;
  border-radius: 9px;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.4);
  color: #1b262c;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 5px;
  font-family: 'Open Sans Condensed';
  margin: auto;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
section#trSubject section.trSubjectCards div.trCard:hover {
  box-shadow: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
section#trSubject section.trSubjectCards div.trCard h4.trCardTitle {
  display: flex;
  width: 250px;
  height: 30px;
  font-size: 25px;
  color: #FFFDF9;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 6px;
  font-family: 'Open Sans Condensed';
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
section#trSubject section.trSubjectCards div.trCard h4.trCardTitle:hover {
  text-decoration: underline;
  text-decoration-color: #FFFDF9;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
section#trSubject section.trSubjectCards #quantum {
  background-image: url("../images/quantum.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
section#trSubject section.trSubjectCards #comSci {
  background-image: url("../images/computerScience.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
section#trSubject section.trSubjectCards #biology {
  background-image: url("../images/biology.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
section#trSubject section.trSubjectCards #zoology {
  background-image: url("../images/Animals.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
section#trSubject section.trSubjectCards #poliSci {
  background-image: url("../images/PoliSci.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
/*Trending Articles*/
section#trArticles {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFDF9;
  /*box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.4);*/
}
section#trArticles h3.trArticlesTitle {
  width: 85%;
  font-size: 40px;
  height: 40px;
  text-align: center;
  font-family: 'Open Sans Condensed';
  letter-spacing: 8px;
  color: #555555;
  margin: 35px auto 0 auto;
}
/*Footer*/
footer {
  background-color: #333333;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
footer h5.footerContent {
  font-family: 'Raleway';
  font-size: 20px;
  color: #FFFDF9;
}
/*Mixins*/
/*Variables*/
/*Mobile var*/
